html, body {
	height: 100%;
	margin: 0;
}
body {
	padding: 20px;
}
.container {
	margin: 0 auto;
	width: 500px;
}
.standout-overlay {
	opacity: 0.9;
}
.standout-overlay div {
	background-color: #000;
	opacity: 0.9;
	height: 100%;
}
